<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink'); -%>
    <link rel="stylesheet" type="text/css" href="styles/forum.css">
    <title>Forum | A-Mag Us</title>
</head>
<body>
    <header>
        <%- include('navbar'); -%>
    </header>

    <section class="main">
        <section class="before">
            <h1>Forum</h1>
            <%if(locals.user){%>
                <%if(locals.user.admin || locals.user.master){%>
                    <button class="post-btn btn btn-dark ml-auto" type="button" onclick="location.href='#'">Add subject</button>
                <%}%>
                <button class="post-btn btn btn-dark <%if(!(locals.user.admin || locals.user.master)){%>ml-auto<%}else{%>ml-5<%}%>"
                        type="button" onclick="location.href='/forum-post'" >Add post</button>
            <%}%>
        </section>
        <div class="subjects-block">
        <%locals.subjects.reverse().map((subject)=>{%>
            <div class="subject-container" id="<%=subject._id%>">
                <h3 class="subject-title"><%=subject.subject%></h3>
                <%subject.conversations.reverse().map((conv)=>{ %>
                    <div class="conv-container row" onclick="location.href='/forum-page?subject=<%=subject.subject.replace(/\s/g, '_')%>&conv=<%=conv.title.replace(/\s/g, '_').replace(/'/g, '<')%>+<%=conv.author.replace(/\s/g, '_')%>+<%=conv.date.replace(/\s/g, '_')%>'">
                        <p class="conv-title"><%=conv.title%></p>
                        <p class="conv-author "><%=conv.author%></p>
                        <p class="conv-answer">Answers: <%=conv.answers.length%></p>
                        <div class="like-bar">
                            <div class="like">
                                <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                                <span><%=conv.up%></span>
                            </div>
                            <div class="unlike">
                                <span class="fa fa-thumbs-down" aria-hidden="true"></span>
                                <span><%=conv.down%></span>
                            </div>
                        </div>
                        <p class="conv-date"><%=conv.date%></p>
                    </div>
                <%})%>
            </div>
        <%})%>
        </div>
    </section>
</body>
</html>