<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink'); -%>
    <title>Accueil | A-Mag Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css"/>
</head>
<body class="container-fluid">
    <header>
        <%- include('navbar') -%>
    </header>
    <section class="main">
        <%if(locals.user && locals.user.admin){%>
            <button class="admin-news-btn btn btn-dark" onclick="location.href='/news';">Add news</button>
        <%}%>
        <div class="row">
            <img class="col-6" src="images/A-Mag_Us.png" id="title_img" alt="A-Mag-Us Title">
            <iframe class="col-5"
                    src="https://store.steampowered.com/widget/945360/?t=Un%20jeu%20de%20soci%C3%A9t%C3%A9%20en%20ligne%20et%20local%20de%20travail%20d'%C3%A9quipe%20et%20de%20trahison%20pour%204%20%C3%A0%2010%20joueurs%20...%20dans%20l'espace!"
                    frameborder="0" id="buy-button" width="646" height="190">
            </iframe>
        </div>
    </section>
    <script>
        function display(id){
            document.getElementById(id + '-popup').style.display = 'block';
        }
        function offscreen(id){
            document.getElementById(id + '-popup').style.display = 'none';
        }
    </script>
    <section class="news-block row" id="carousel-news">
        <!-- TODO carousel with news and popup-->
        <%if(locals.news){%>
            <%locals.news.reverse().map((item)=>{%>
                <div class="news-container col-2" id="<%=item._id%>"
                     onclick="display('<%=item._id%>');">
                    <%if(locals.user && (locals.user.admin || locals.user.master)){%>
                        <button type="button" class="remove-news close"
                                onclick="location.href='/remove-news?data=<%=item._id%>'">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    <%}%>
                    <p class="news-title"><%=item.title%></p>
                    <img src="<%=item.picture%>" alt="news picture" class="news-img">
                    <p class="news-date"><%=item.date%></p>
                    <p class="news-resume"><%=item.resume%></p>
                    <p class="news-author"><%=item.author%></p>
                </div>
                <div class="news-popup text-center" id="<%=item._id%>-popup">
                    <button type="button" class="close close-popup"
                            onclick="offscreen('<%=item._id%>')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="news-popup-title"><%=item.title%></h2>
                    <img src="<%=item.picture%>" alt="" class="news-popup-img">
                    <p class="news-popup-date"><%=item.date%></p>
                    <p class="news-popup-content"><%=item.content%></p>
                    <p class="news-popup-author"><%=item.author%></p>
                </div>
            <%});%>
        <%}%>
    </section>
    <%- include('cookiePopup') -%>
</body>
</html>