<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg" id="menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-menu"
            aria-controls="left-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="left-menu">
        <menu class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-dark btn-block nav-button" onclick="location.href='/'">Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark btn-block nav-button" onclick="location.href='/forum'">Forum</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark btn-block nav-button" onclick="location.href='/about-us'">About us</button>
            </li>
        </menu>
    </div>

    <%if(!locals.user){%>
    <div class="" id="right-menu">
        <menu class="navbar-nav" id="user-menu">
            <li>
                <div class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle btn-custom-dd" href="#" role="button" id="loginB"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>

                    <div class="dropdown-menu drop-down-custom" aria-labelledby="loginB">
                        <form method="post" action="/login">
                            <label class="offscreen" for="pseudoIn">Pseudo: </label>
                            <input class="dropdown-item text-center" type="text" placeholder="Pseudo"
                                   name="pseudoIn" id="pseudoIn" required>
                            <label class="offscreen" for="passIn">Password: </label>
                            <input class="dropdown-item text-center" type="password" placeholder="Password"
                                   name="passIn" id="passIn" required>
                            <input class="dropdown-item btn btn-dark text-center" type="submit" value="Se connecter">
                        </form>
                    </div>
                </div>
            </li>

            <li>
                <div class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle btn-custom-dd" href="#" role="button" id="signupB"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign Up
                    </a>

                    <div class="dropdown-menu drop-down-custom" aria-labelledby="signupB">
                        <form method="post" action="/signup">
                            <label class="offscreen" for="mailIn">Email: </label>
                            <input class="dropdown-item text-center" type="email" placeholder="Mail"
                                   name="mailIn" id="mailIn" required>
                            <label class="offscreen" for="pseudoIn">Pseudo: </label>
                            <input class="dropdown-item text-center" type="text" placeholder="Pseudo"
                                   name="pseudoIn" id="pseudoIn" minlength="8" required>
                            <label class="offscreen" for="passIn">Password: </label>
                            <input class="dropdown-item text-center" type="password" placeholder="Password"
                                   name="passIn" id="passIn" minlength="8" required>
                            <label class="offscreen" for="passInC">Password2: </label>
                            <input class="dropdown-item text-center" type="password" placeholder="Pass confirmation"
                                   name="passInC" id="passInC" minlength="8" required>
                            <input class="dropdown-item btn btn-dark text-center" type="submit" value="S'inscrire">
                        </form>
                    </div>
                </div>
            </li>
        </menu>
    </div>
    <%}%>
</nav>
<%if(locals.user){%>
    <div class="user-menu">
        <img src="images/userDefault.jpg" alt="user picture" class="user-image-nav circle70"
             onclick="location.href='/user-page?user=<%=locals.user%>';">
        <ul class="user-info-nav">
            <li>
                <p id="user_id" class="no-select"><%=locals.user%></p>
            </li>
            <li>
                <ul class="icon-bar">
                    <li>
                        <div class="dropdown">
                            <a id="messImg" data-toggle="dropdown">
                                <img class="icon-bar-item" src="images/message.png" alt="">
                            </a>
                            <ul class="dropdown-menu drop-down-custom" aria-labelledby="messImg">
                                <!-- TODO message system -->
                                <li><button class="dropdown-item btn btn-dark" href="#">Menu item 1</button></li>
                                <li><button class="dropdown-item btn btn-dark" href="#">Menu item 2</button></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a id="notifImg" data-toggle="dropdown">
                                <img class="icon-bar-item" src="images/notif.png" alt="">
                            </a>
                            <ul class="dropdown-menu drop-down-custom" aria-labelledby="notifImg" id="notif-dd"></ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a id="paramImg" data-toggle="dropdown">
                                <img class="icon-bar-item" src="images/param.png" alt="">
                            </a>
                            <ul class="dropdown-menu drop-down-custom" aria-labelledby="paramImg">
                                <li><button class="dropdown-item btn btn-dark" onclick="location.href='/edit-user';">Editer Profil</button></li>
                                <li><button class="dropdown-item btn btn-dark" onclick="location.href='/disconnect';">Déconnection</button></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
<%}%>
<script>
    let socket = io();
</script>
<% if(locals.notif !== undefined){%>
    <script>
        window.onload =  ()=> {
            let notif = {
                type: "<%= locals.notif.type%>",
                pseudo: "<%=locals.notif.pseudo%>",
                picture: "<%=locals.notif.picture%>",
                date: "<%=locals.notif.date%>",
            }
            let to = "<%=locals.to%>";
            socket.emit('notif', notif, to);
        };
    </script>
<%}%>
<script>
    if(document.getElementById('notif-dd').childElementCount === 0){
        $('#notif-dd').append($('<li id=\"to-remove\">').append($('<p style=\"color:white;\">').html("No notification")));
    }
    socket.on('notif', (notif) => {
        if(document.getElementById('to-remove') !== null) document.getElementById('to-remove').remove();
        let list = $('#notif-dd li').get();
        if(notif.type === "friendRequest") {
            $('#notif-dd').empty().append($('<li>').append($('<div class=\"dropdown-item friend-request\" id=\"' +
                notif.pseudo + '\">')));
            let newDiv = $('#' + notif.pseudo);
            newDiv.append($('<p style=\"color:white;\">').html(notif.pseudo));
            newDiv.append($('<button class=\"dropdown-item btn btn-dark\" onclick=\"location.href=\'/acceptFriend?user=' + notif.pseudo + '\'\">').html("Accept"));
            newDiv.append($('<button class=\"dropdown-item btn btn-dark\" onclick=\"location.href=\'/refuseFriend?user=' + notif.pseudo + '\'\">').html("Refuse"));
            // TODO modify notification design and
        }else if(notif.type === "friendAcceptation"){
            $('#notif-dd').empty().append($('<li>').append($('<div class=\"dropdown-item friend-accept\" id=\"' +
                notif.pseudo + '\">')));
            let newDiv = $('#' + notif.pseudo);
            newDiv.append($('<p style=\"color:white;\">').html(notif.pseudo + " accepted your invitation"));
        }
        $.each(list, (i)=>{
            $('#notif-dd').append($('<li>').html(list[i]));
        });
    });
</script>