<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg" id="menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-menu"
            aria-controls="left-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="left-menu">
        <menu class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-dark btn-block nav-button" onclick="location.href='/'">Home</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark btn-block nav-button" onclick="location.href='/forum'">Forum</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-dark btn-block nav-button" onclick="location.href='/about-us'">About us</button>
            </li>
        </menu>
    </div>

    <%if(!locals.user){%>
    <div class="" id="right-menu">
        <menu class="navbar-nav" id="user-menu">
            <li>
                <div class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle btn-custom-dd" href="#" role="button" id="loginB"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>

                    <div class="dropdown-menu drop-down-custom" aria-labelledby="loginB">
                        <form method="post" action="/login">
                            <label class="offscreen" for="pseudoIn">Pseudo: </label>
                            <input class="dropdown-item text-center" type="text" placeholder="Pseudo"
                                   name="pseudoIn" id="pseudoIn" autocomplete="off" required>
                            <label class="offscreen" for="passIn">Password: </label>
                            <input class="dropdown-item text-center" type="password" placeholder="Password"
                                   name="passIn" id="passIn" autocomplete="off" required>
                            <input class="dropdown-item btn btn-dark text-center" type="submit" value="Se connecter">
                        </form>
                    </div>
                </div>
            </li>

            <li>
                <div class="nav-item dropdown">
                    <a class="btn btn-dark dropdown-toggle btn-custom-dd" href="#" role="button" id="signupB"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign Up
                    </a>

                    <div class="dropdown-menu drop-down-custom" aria-labelledby="signupB">
                        <form method="post" action="/signup">
                            <label class="offscreen" for="mailIn">Email: </label>
                            <input class="dropdown-item text-center" type="email" placeholder="Mail"
                                   name="mailIn" id="mailIn" autocomplete="off" required>
                            <label class="offscreen" for="pseudoIn2">Pseudo: </label>
                            <input class="dropdown-item text-center" type="text" placeholder="Pseudo"
                                   name="pseudoIn" id="pseudoIn2" minlength="8" autocomplete="off" required>
                            <label class="offscreen" for="passIn2">Password: </label>
                            <input class="dropdown-item text-center" type="password" placeholder="Password"
                                   name="passIn" id="passIn2" minlength="8" autocomplete="off" required>
                            <label class="offscreen" for="passInC">Password2: </label>
                            <input class="dropdown-item text-center" type="password" placeholder="Pass confirmation"
                                   name="passInC" id="passInC" minlength="8" autocomplete="off" required>
                            <input class="dropdown-item btn btn-dark text-center" type="submit" value="S'inscrire">
                        </form>
                    </div>
                </div>
            </li>
        </menu>
    </div>
    <%}%>
</nav>
<%if(locals.user){%>
    <div class="user-menu">
        <img src="images/userDefault.jpg" alt="user picture" class="user-image-nav circle70"
             onclick="location.href='/user-page?user=<%=locals.user.pseudo%>';">
        <div class="to-block">
            <ul class="user-info-nav">
                <li>
                    <p id="user_id" class="no-select"><%=locals.user.pseudo%></p>
                </li>
                <li>
                    <ul class="icon-bar">
                        <li>
                            <div class="dropdown">
                                <a id="search-user-img" class="dropdown-to" data-toggle="dropdown">
                                    <img class="icon-bar-item" src="images/user-search-icon.png" alt="" >
                                </a>
                                <div id="search-user" class="dropdown-menu">
                                    <form method="post" action="/" id="search-user-form">
                                        <label for="search-input"></label>
                                        <input type="text" id="search-input" name="search-input" placeholder="Type here..." required>
                                        <button class="btn btn-dark" id="search-user-btn"><span class="fas fa-search"></span></button>
                                    </form>
                                    <ul id="search-res"></ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a id="notifImg" class="dropdown-to" data-toggle="dropdown">
                                    <img class="icon-bar-item" src="images/notif.png" alt="">
                                </a>
                                <ul class="dropdown-menu drop-down-custom" aria-labelledby="notifImg" id="notif-dd">
                                    <%locals.user.notifications.reverse().map((notif)=>{%>
                                        <li>
                                            <div class="notif <%=notif.type%>">
                                                <img class="notif-img" src="<%=notif.picture%>" alt="">
                                                <% if(notif.type === 'friendRequest'){%>
                                                    <p class="notif-p"><%=notif.pseudo%> invited you as friend!</p>
                                                    <button class="btn btn-dark"
                                                            onclick="location.href='/acceptFriend?user=<%=notif.pseudo%>'" >
                                                        Accept
                                                    </button>
                                                    <button class="btn btn-dark"
                                                            onclick="location.href='/refuse?user=<%=notif.pseudo%>'" >
                                                        Refuse
                                                    </button>
                                                <%}else if(notif.type === "friendAcceptation"){%>
                                                    <p class="notif-p"><%=notif.pseudo%> accepted your invitation!</p>
                                                <%}else if(notif.type === "acceptTrace"){%>
                                                    <p class="notif-p"><%=notif.pseudo%> and you are friend now!</p>
                                                <%}%>
                                            </div>
                                        </li>
                                    <%})%>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a id="paramImg" class="dropdown-to" data-toggle="dropdown">
                                    <img class="icon-bar-item" src="images/param.png" alt="">
                                </a>
                                <ul class="dropdown-menu drop-down-custom" aria-labelledby="paramImg">
                                    <li><button class="dropdown-item btn btn-dark" onclick="location.href='/edit-user';">Editer Profil</button></li>
                                    <li><button class="dropdown-item btn btn-dark" onclick="location.href='/disconnect';">Déconnection</button></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
<label for="privateKey" class="offscreen"></label>
<textarea id="privateKey" class="offscreen"><%=locals.user.privateKey%></textarea>
<%}%>
<script>

    let socket = io();
    <% if(locals.notif !== undefined){%>
    window.onload =  ()=> {
        let notif = {
            type: "<%= locals.notif.type%>",
            pseudo: "<%=locals.notif.pseudo%>",
            picture: "<%=locals.notif.picture%>",
            date: "<%=locals.notif.date%>",
        }
        let to = "<%=locals.to%>";
        socket.emit('notif', notif, to);
        let list = document.getElementsByClassName('chat-list');
        if(document.getElementById('chat-row').hasChildNodes()){
            for(let i=0; i<document.getElementById('chat-row').childElementCount; i++){
                list[i].scrollTop = list[i].scrollHeight;
            }
        }
    };
    <%}else{%>
    window.onload = ()=>{
        let list = document.getElementsByClassName('chat-list');
        if(document.getElementById('chat-row').hasChildNodes()){
            for(let i=0; i<document.getElementById('chat-row').childElementCount; i++){
                list[i].scrollTop = list[i].scrollHeight;
            }
        }
    }
    <%}if (locals.user){%>
    socket.on('notif', (notif) => {
        switch(notif.type) {
            case("friendRequest"):
                if (document.getElementById('to-remove') !== null) document.getElementById('to-remove').remove();
                $.post('/update-friends', {}, (data, status) => {
                    if (status === 'success') {
                        let div = document.getElementById('user-btn-container');
                        if (div) div.innerHTML = "<button class=\"msg-btn btn btn-dark\" onclick=\"location.href='" +
                            "/acceptFriend?user=" + notif.pseudo + "'\">Accept Friend <span class=\"fa fa-user-plus\">" +
                            "</span> </button>";
                        let li = "<li>" +
                            "<div class=\"notif" + notif.type + "\">\n" +
                            "    <img class=\"notif-img\" src=\"" + notif.picture + "\" alt=\"\">\n" +
                            "    <p class=\"notif-p\">" + notif.pseudo + " invited you as friend</p>\n" +
                            "    <button class=\"btn btn-dark\"\n" +
                            "             onclick=\"location.href='/acceptFriend?user=" + notif.pseudo + "'\" >\n" +
                            "             Accept\n" +
                            "    </button>\n" +
                            "    <button class=\"btn btn-dark\"\n" +
                            "            onclick=\"location.href='/refuse?user=" + notif.pseudo + "'\" >\n" +
                            "            Refuse\n" +
                            "    </button>\n" +
                            "</div>\n" +
                            "</li>\n";
                        document.getElementById('notif-dd').insertAdjacentHTML('afterbegin', li);
                    }
                });
                break;

            case("friendAcceptation"):
                if (document.getElementById('to-remove')) document.getElementById('to-remove').remove();
                $.post('/update-friends', {}, (data, status) => {
                    if (status === 'success') {
                        let div = document.getElementById('user-btn-container');
                        if (div) div.innerHTML = "<button class=\"msg-btn btn btn-dark\" onclick=\"location.href='" +
                            "/message?user=" + notif.pseudo + "'\">Message <span class=\"fa fa-comment\"></span></button>";
                        let li = "<li>\n" +
                            "<div class=\"notif" + notif.type + "\">\n" +
                            "    <img class=\"notif-img\" src=\"" + notif.picture + "\" alt=\"\">\n" +
                            "    <p class=\"notif-p\">" + notif.pseudo + " accepted your invitation</p>\n" +
                            "</div>\n" +
                            "</li>\n"
                        document.getElementById('notif-dd').insertAdjacentHTML('afterbegin', li);
                    }
                });
                break;

            case("disconnection"):
                document.getElementById(notif.pseudo).remove();
                if (document.getElementById('inner-list') && document.getElementById('inner-list').childElementCount === 0) {
                    $('#inner-list').append($('<li id=\"to-remove-online\">').append($('<p>').html("No friend online yet...")));
                }
                break;

            case("onlineFriend"):
                if (document.getElementById('to-remove-online')) document.getElementById('to-remove-online').remove();
                let picture = notif.picture ? notif.picture : "images/userDefault.jpg"

                let online = "<li id=\"" + notif.pseudo + "\">\n" +
                    "    <div class=\"online-friend-container\" onclick=\"openChat(\'"+ notif.publicKey + "\',\'" +
                    notif.pseudo.toString() + "\')\">\n" +
                    "        <img class=\"online-friend-picture\" src=\"" + picture + "\" alt=\"\">\n" +
                    "        <p class=\"online-friend-pseudo\">" + notif.pseudo + "</p>\n" +
                    "    </div>\n" +
                    "</li>\n";
                document.getElementById('inner-list').insertAdjacentHTML('afterbegin', online);
                let to = notif.pseudo;
                let response = {
                    'type': "onlineResponse",
                    'pseudo': "<%=locals.user.pseudo%>",
                    'picture': "<%=locals.user.picture%>",
                    'publicKey': "<%=locals.user.publicKey.replace(/\n/g, '$')%>",
                    'date': new Date().toISOString()
                }
                socket.emit('notif', response, to);
                break;

            case("onlineResponse"):
                if(document.getElementById('to-remove-online')) document.getElementById('to-remove-online').remove();
                let pict = notif.picture ? notif.picture : "images/userDefault.jpg"
                let on = "<li id=\"" + notif.pseudo + "\">\n" +
                    "    <div class=\"online-friend-container\" onclick=\"openChat(\'"+ notif.publicKey + "\',\'" +
                    notif.pseudo + "\')\">\n" +
                    "        <img class=\"online-friend-picture\" src=\"" + pict + "\" alt=\"\">\n" +
                    "        <p class=\"online-friend-pseudo\">" + notif.pseudo + "</p>\n" +
                    "    </div>\n" +
                    "</li>\n";
                document.getElementById('inner-list').insertAdjacentHTML('afterbegin', on);
                break;
            default:
                break;
        }
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    socket.on('message', (data)=>{
        if(!document.getElementById('chat-container-'+data.pseudo)) {
            openChat(data.publicKey.replace(/\n/g, '$'), data.pseudo, true);
        }
        let decrypt = new JSEncrypt();
        decrypt.setPrivateKey($('#privateKey').val());
        let message = decrypt.decrypt(data.message, undefined, undefined);
        let li = "<li><div class=\"chat-msg chat-received\"><p>"+message+"</p></div></li>\n";
       $('#chat-'+ data.pseudo).append(li);
       document.getElementById('chat-'+data.pseudo).scrollTop = document.getElementById('chat-'+data.pseudo).scrollHeight;
       let header = document.getElementById('chat-header-'+data.pseudo);
       header.classList.add('blink');
    });

    function openChat(publicKey, user, closed=false){
        if (document.getElementById('chat-box-'+user)) return
        let div = ""+
                "<div class=\"chat-container alert col-3\" id=\"chat-container-"+user+"\">\n"+
                "    <div class=\"chat-header\" id=\"chat-header-"+user+"\" onclick=\"displayChat('"+user+"')\">\n"+
                "        <img class=\”chat-header-picture\" src=\'\' alt\"\">\n"+
                "        <p class=\"chat-header-pseudo\">"+ user +"</p>\n"+
                "        <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                "            <span aria-hidden=\"true\">&times;</span>\n" +
                "        </button>\n"+
                "    </div>\n"+
                "    <div class=\"chat-box open\" id=\"chat-box-"+user+"\">\n"+
                "        <ul class=\"chat-list\" id=\"chat-"+user+"\"></ul>\n" +
                "        <form  class='chat-form'  method=\"post\" action=\"\" id=\"form-"+user+"\" " +
                "               onsubmit=\"return sendMessage('"+publicKey+"', '"+user+"')\" >\n" +
                "            <input class=\"chat-input\" type=\"text\" name=\"form-"+user+"-input\" id=\"input-"+user+"\" " +
                "                   autocomplete=\"off\" placeholder=\"Type here...\">\n"+
                "            <button class=\"btn btn-dark chat-send-btn\"><span class=\"fas fa-paper-plane\"></span></button>\n"+
                "        </form>\n" +
                "    </div>\n"+
                "</div>\n ";
        if(closed) div = div.replace('open', 'close');
        document.getElementById('chat-row').insertAdjacentHTML('afterbegin', div);
    }

    function stopBlink(user){
        let header = document.getElementById('chat-header-'+user);
        if(header.classList.contains('blink')) header.classList.remove('blink');
    }

    function displayChat(user){
        let chat = document.getElementById('chat-box-' + user);
        if (chat.classList.contains('close')) {
                chat.classList.remove('close');
                chat.classList.add('open');
                stopBlink(user)
                document.getElementById('chat-'+user).scrollTop = document.getElementById('chat-'+user).scrollHeight;
        }else {
            if(document.getElementById('chat-header-'+user).classList.contains('blink')) stopBlink(user);
            else {
                chat.classList.remove('open');
                chat.classList.add('close');
            }
        }
    }

    function sendMessage(publicKey, user){
        publicKey = publicKey.replace(/\$/g, '\n');
        let input = $('#input-'+user);
        let encrypt = new JSEncrypt();
        let message = input.val();
        encrypt.setPublicKey(publicKey)
        let encrypted = encrypt.encrypt(message, undefined, undefined);
        input.val('');
        let li = "<li><div class=\"chat-msg chat-send\">"+message+"</div></li>\n";
        $('#chat-'+user).append(li);
        socket.emit('message', encrypted, user);
        document.getElementById('chat-'+user).scrollTop = document.getElementById('chat-'+user).scrollHeight;
        stopBlink(user);
        return false;
    }

    window.addEventListener('beforeunload', ()=>{
        $.post('/update-chat-bar', {data: document.getElementById('chat-row').innerHTML});
    });

    function displaySearchUser(){
        let div = document.getElementById('search-user');
        if(div.classList.contains('offscreen'))div.classList.remove('offscreen');
        else div.classList.add('offscreen');
    }

    $('#search-user-form').submit((event)=>{
        event.preventDefault();
        $.post('/search-user', {user: $('#search-input').val()}, (data, state)=>{
            if(state === 'success') {
                document.getElementById('search-res').innerHTML = "";
                data.map((user)=>{
                    if(user.pseudo !== '<%=locals.user.pseudo%>'){
                        let pic = user.picture?user.picture:'images/userDefault.jpg';
                        let div = ""+
                                "<li>\n"+
                                "    <div class=\"search-user-container\">\n"+
                                "        <img class=\"search-user-img\" src=\""+ pic +"\" alt=\"\">\n"+
                                "        <p class=\"search-user-pseudo\">\n"+
                                "            <a href=\"/user-page?user="+user.pseudo+"\">"+user.pseudo+"</a>\n"+
                                "        </p>\n"+
                                "    </div>\n"+
                                "</li>\n";
                        document.getElementById('search-res').insertAdjacentHTML('beforeend', div)
                    }
                });
                if(!document.getElementById('search-res').hasChildNodes()){
                    let div = ""+
                        "<li>\n"+
                        "    <div class=\"search-user-container\">\n"+
                        "        <p class=\"no-result\">\n"+
                        "            Sorry, no user found\n"+
                        "        </p>\n"+
                        "    </div>\n"+
                        "</li>\n";
                    document.getElementById('search-res').insertAdjacentHTML('beforeend', div)
                }
            }
        })
    });

    <%}%>
</script>


