<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('allLink'); -%>
    <title>A-Mag Us | <%= locals.user%></title>
    <link rel="stylesheet" type="text/css" href="/styles/userPage.css">
</head>
<body>
    <header>
        <%- include('navbar'); -%>
    </header>
    <img src="images/userDefault.jpg" alt="" class="user-image circle">
    <div class="user-info">
        <div class="user-title">
            <div class="user-infos">
                <h1 class="user-name"><%= locals.doc.pseudo%></h1>
                <p class="user-country">
                   Belgium,
                <p class="user-language">
                    FR
                </p>
            </div>
            <%if(locals.doc.pseudo !== locals.user.pseudo){%>
            <div class="friend-buttons">
                    <button class="friend-btn btn btn-dark"
                            onclick="location.href='/friendReq?user=<%= locals.doc.pseudo%>'">
                        Add Friend
                    </button>

                    <button class="msg-btn btn btn-dark" onclick="location.href='/message?user=<%=locals.doc.pseudo%>'">
                        Message
                    </button>
            </div>
            <%}else{%>
            <div>
                <button class="edit-btn btn btn-dark" onclick="location.href='/edit-user'">
                    Edit
                </button>
            </div>
            <%}%>
        </div>
        <div class="user-pref">
            <img class="btn-fav" src="" alt="">
            <p class="user-map">
                Unknown
            </p>
            <img class="btn-fav" src="" alt="">
            <p class="user-colour">
                Unknown
            </p>
        </div>
    </div>
    <%- include('onlineFriend.ejs') -%>
</body>
</html>